In [49]:
#Dependencies
import csv
import pandas as pd
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float

In [50]:
#the files to read
csvfileone="Resources/clean_measurements_hawaii.csv"
csvfiletwo="Resources/clean_stations_hawaii.csv"

In [51]:
#creating dataframes for the files
measurements_df=pd.read_csv(csvfileone, dtype=object)
stations_df=pd.read_csv(csvfiletwo, dtype=object)

In [52]:
measurements_df.head()

       station        date  prcp tobs
0  USC00519397  2010-01-01  0.08   65
1  USC00519397  2010-01-02     0   63
2  USC00519397  2010-01-03     0   74
3  USC00519397  2010-01-04     0   76
4  USC00519397  2010-01-07  0.06   70

In [53]:
stations_df.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [54]:
#create an engine
engine=create_engine("sqlite:///hawaii.sqlite")

In [55]:
conn= engine.connect()

In [56]:
Base = declarative_base()

class Measurement(Base):
    __tablename__ = "measurements"
    
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    date=Column(Text)
    prcp=Column(Float)
    tobs=Column(Integer)

In [57]:
class Station(Base):
    __tablename__= "stations"
    id = Column(Integer, primary_key = True)
    station = Column(Text)
    name = Column(Text)
    latitude=Column(Float)
    longitude=Column(Float)
    elevation=Column(Integer)

In [58]:
Base.metadata.create_all(engine)

In [59]:
new_measure_df=pd.read_csv("Resources/clean_measurements_hawaii.csv")

In [60]:
measure_data=new_measure_df.to_dict(orient='records')

In [61]:
print(measure_data[:5])

[{'station': 'USC00519397', 'date': '2010-01-01', 'prcp': 0.08, 'tobs': 65}, {'station': 'USC00519397', 'date': '2010-01-02', 'prcp': 0.0, 'tobs': 63}, {'station': 'USC00519397', 'date': '2010-01-03', 'prcp': 0.0, 'tobs': 74}, {'station': 'USC00519397', 'date': '2010-01-04', 'prcp': 0.0, 'tobs': 76}, {'station': 'USC00519397', 'date': '2010-01-07', 'prcp': 0.06, 'tobs': 70}]

In [62]:
metadata= MetaData(bind=engine)
metadata.reflect()

In [63]:
table = sqlalchemy.Table('measurements', metadata, autoload=True)

In [64]:
conn.execute(table.delete())

In [65]:
conn.execute(table.insert(), measure_data)

In [66]:
new_station_df=pd.read_csv("Resources/clean_stations_hawaii.csv")

In [67]:
station_data=new_station_df.to_dict(orient='records')

In [68]:
print(station_data[:5])

[{'station': 'USC00519397', 'name': 'WAIKIKI 717.2, HI US', 'latitude': 21.2716, 'longitude': -157.8168, 'elevation': 3.0}, {'station': 'USC00513117', 'name': 'KANEOHE 838.1, HI US', 'latitude': 21.4234, 'longitude': -157.8015, 'elevation': 14.6}, {'station': 'USC00514830', 'name': 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 'latitude': 21.5213, 'longitude': -157.8374, 'elevation': 7.0}, {'station': 'USC00517948', 'name': 'PEARL CITY, HI US', 'latitude': 21.3934, 'longitude': -157.9751, 'elevation': 11.9}, {'station': 'USC00518838', 'name': 'UPPER WAHIAWA 874.3, HI US', 'latitude': 21.4992, 'longitude': -158.0111, 'elevation': 306.6}]

In [69]:
metadata_station=MetaData(bind=engine)
metadata_station.reflect()

In [70]:
table_station= sqlalchemy.Table('stations', metadata_station, autoload=True)

In [71]:
conn.execute(table_station.delete())

In [72]:
conn.execute(table_station.insert(), station_data)